<h1>Users#edit</h1>

<!--エラーメッセージ-->
<% if @user.errors.any? %>
  <div class="container mt-3">
    <h3><%= @user.errors.count %> error prohibited this obj from being saved:</h3>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @user, url: user_path(@user.id), method: :patch do |f| %>
  <div>
    <label>ユーザー名</label><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <label>パスワード</label><br>
    <%= f.text_field :password %>
  </div>

  <div>
    <label>メールアドレス</label><br>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.submit "変更保存" %>
  </div>
<% end %>

<%= button_to "アカウント削除", user_path(@user.id), method: :delete %>
