<h1>Users#show</h1>

<!--ユーザー情報部分-->
<div>
  <%= @user.name %>
  <% if @user == current_user %>
    <%= link_to "ユーザー編集", edit_user_path(@user.id) %>
  <% end %>
</div>
<div>投稿：<%= @posts.count %></div>

<%= link_to "新規投稿", new_post_path %>


<!--投稿一覧部分-->
<% @posts.each do |post| %>
  <tr>
    <td>
      <%= link_to post_path(post.id) do %>
        <%= post.title %>
      <% end %>
    </td>
    <td>
      <%= post.body %>
    </td>
  </tr>
<% end %>

