<h1>Users#show</h1>

<!--ユーザー情報部分-->
<div>
  <%= image_tag @user.get_profile_image, :size => '100x100' %>
</div>
<div>
  <%= @user.name %>
  <% if @user == current_user %>
    <%= link_to "ユーザー編集", edit_user_path(@user.id) %>
  <% end %>
</div>
<div>投稿：<%= @post_all.count %></div>


<!--フォロー機能-->
<div>
  <div>
    <p>フォロワー：<%= link_to @user.followers.count, user_followers_path(@user.id) %></p>
  </div>
  <div>
    <p>フォロー中：<%= link_to @user.followings.count, user_followings_path(@user.id) %></p>
  </div>
</div>
<div>
  <% if current_user != @user %>
    <% if current_user.following?(@user) %>
      <%= link_to "フォロー解除", user_relationships_path(@user.id), method: :delete %>
    <% else %>
      <%= link_to "フォローする", user_relationships_path(@user.id), method: :post %>
    <% end %>
  <% end %>
</div>


<!--投稿一覧部分-->
<% @posts.each do |post| %>
  <h3>
    <%= link_to post_path(post.id) do %>
      <%= post.shop_name %>
    <% end %>
  </h3>
  <p><%= post.address %></p>
  <table>
    <tr>
      <th>メニュー</th>
      <th>値段</th>
      <th>特徴</th>
    </tr>

    <tr>
      <td>
        <div>
          <%= post.menu1_name %>
        </div>
        <div>
          <%= post.menu2_name %>
        </div>
        <div>
          <%= post.menu3_name %>
        </div>
      </td>

      <td>
        <div>
          <%= post.menu1_price %>
        </div>
        <div>
          <%= post.menu2_price %>
        </div>
        <div>
          <%= post.menu3_price %>
        </div>
      </td>

      <td>
        <div>
          <%= post.menu1_description %>
        </div>
        <div>
          <%= post.menu2_description %>
        </div>
        <div>
          <%= post.menu3_description %>
        </div>
      </td>
    </tr>
  </table>

<% end %>


<!--ページネーションの記述-->
<%= paginate @posts %>

