<h1>全投稿一覧</h1>
<% @posts.each do |post| %>
  <div class="pt-5">
    <p><%= image_tag post.user.get_profile_image, :size => '80x80', class: "rounded-circle" %></p>
    <p><%= post.user.name %></p>
  </div>
  <h3>店名：<%= post.shop_name %></h3>
  <p><%= post.address %></p>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>id</th>
        <th>画像</th>
        <th>メニュー</th>
        <th>値段</th>
        <th>特徴</th>
      </tr>
    </thead>

    <tbody>
      <% (1..3).each do |n| %>
        <tr>
          <td><%= post.id %></td>
          <td><%= image_tag(post.send("image#{n}").attached? ? post.send("image#{n}") : 'default-image.jpg', size: "100x100", class: "img-thumbnail") %></td>
          <td><%= post.send("menu#{n}_name") %></td>
          <td><%= post.send("menu#{n}_price") %></td>
          <td><%= post.send("menu#{n}_description") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "destroy", admin_post_path(post), method: :delete, data: { confirm: "本当に削除しますか?" }, class: "btn btn-outline-danger" %>
<% end %>