<h1>全コメント一覧</h1>
<% @comments.each do |comment| %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>コメントid</th>
        <th>コメントユーザー</th>
        <th>コメント</th>
        <th>コメント先id</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= comment.id %></td>
        <td><%= comment.user.name %></td>
        <td><%= comment.comment %></td>
        <td><%= comment.post.id %></td>
      </tr>
    </tbody>
  </table>
  <div class="pb-5">
    <%= link_to "destroy", admin_post_comment_path(comment), method: :delete, data: { confirm: "本当に削除しますか?" }, class: "btn btn-outline-danger" %>
  </div>
<% end %>