<h1>Posts#edit</h1>

<%= form_with model: @post, url: post_path(@post.id), method: :patch do |f| %>
  <label>店名</label><br>
  <%= f.text_field :title %><br>

  <label>商品</label><br>
  <%= f.text_area :body %><br>

  <%= f.submit "変更保存" %><br>

<% end %>

<%= link_to "投稿削除", post_path(@post.id), method: :delete %>

