<h1 class="text-center my-4">Posts#edit</h1>

<div class="container">
  <%= form_with model: @post, url: post_path(@post.id), method: :patch, class: "form" do |f| %>
    <div class="form-group">
      <label for="shop_name">店名</label>
      <%= f.text_field :shop_name, class: "form-control", id: "shop_name", placeholder: "店名を入力" %>
    </div>

    <div class="form-group">
      <label for="zipcode">郵便番号</label>
      <%= text_field_tag :zipcode, nil, class: "form-control", id: "zipcode", placeholder: "郵便番号" %>
    </div>

    <div class="form-group">
      <label for="address">住所</label>
      <%= f.text_field :address, class: "form-control", id: "address", placeholder: "住所を入力" %>
    </div>

    <div class="form-group">
      <label for="menu1">第１位</label>
      <div class="row">
        <div class="col-md-4">
          <%= f.file_field :image1, class: "form-control-file", id: "image1" %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :menu1_name, class: "form-control", placeholder: "メニュー名" %>
        </div>
        <div class="col-md-4">
          <%= f.number_field :menu1_price, class: "form-control", placeholder: "価格" %>
        </div>
      </div>
      <div class="mt-2">
        <%= f.text_area :menu1_description, class: "form-control", placeholder: "説明", rows: 3 %>
      </div>
    </div>

    <div class="form-group">
      <label for="menu2">第２位</label>
      <div class="row">
        <div class="col-md-4">
          <%= f.file_field :image2, class: "form-control-file", id: "image2" %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :menu2_name, class: "form-control", placeholder: "メニュー名" %>
        </div>
        <div class="col-md-4">
          <%= f.number_field :menu2_price, class: "form-control", placeholder: "価格" %>
        </div>
      </div>
      <div class="mt-2">
        <%= f.text_area :menu2_description, class: "form-control", placeholder: "説明", rows: 3 %>
      </div>
    </div>

    <div class="form-group">
      <label for="menu3">第３位</label>
      <div class="row">
        <div class="col-md-4">
          <%= f.file_field :image3, class: "form-control-file", id: "image3" %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :menu3_name, class: "form-control", placeholder: "メニュー名" %>
        </div>
        <div class="col-md-4">
          <%= f.number_field :menu3_price, class: "form-control", placeholder: "価格" %>
        </div>
      </div>
      <div class="mt-2">
        <%= f.text_area :menu3_description, class: "form-control", placeholder: "説明", rows: 3 %>
      </div>
    </div>

    <div class="form-group text-center mt-4">
      <%= f.submit "変更保存", class: "btn btn-primary" %>
    </div>

  <% end %>

  <div class="text-center mt-3">
    <%= link_to "投稿削除", post_path(@post.id), method: :delete, class: "btn btn-danger" %>
  </div>
</div>

