<h1>Posts#edit</h1>

<%= form_with model: @post, url: post_path(@post.id), method: :patch do |f| %>
  <div>
    <label>店名</label><br>
    <%= f.text_field :shop_name %>
  </div>

  <div>
    <%= text_field_tag :zipcode, nil, class: "form-control", placeholder: "郵便番号" %>
  </div>

  <div>
    <%= f.text_field :address, class: "form-control", placeholder: "住所" %>
  </div>

  <div>
    <label>第１位</label>
    <%= f.text_field :menu1_name %>
    <%= f.number_field :menu1_price %>
    <%= f.text_area :menu1_description %>
  </div>

  <div>
    <label>第２位</label>
    <%= f.text_field :menu2_name %>
    <%= f.number_field :menu2_price %>
    <%= f.text_area :menu2_description %>
  </div>

  <div>
    <label>第３位</label>
    <%= f.text_field :menu3_name %>
    <%= f.number_field :menu3_price %>
    <%= f.text_area :menu3_description %>
  </div>

  <%= f.submit "変更保存" %><br>

<% end %>

<%= link_to "投稿削除", post_path(@post.id), method: :delete %>

