<h1 class="text-center my-4">投稿一覧</h1>

<!-- 検索フォーム -->
<div class="container mb-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_with(url: search_posts_path, method: :get, local: true, class: "input-group") do |f| %>
        <%= f.search_field :keyword, class: "form-control", placeholder: "検索ワードを入力" %>
        <div class="input-group-append">
          <%= f.submit "検索", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- 地図機能 -->
<div class="container mb-4">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div id="map" style="width: 100%; height: 400px;"></div>
      <%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>
    </div>
  </div>
</div>

<!-- 新規投稿一覧 -->
<div class="container">
  <h2 class="text-center mb-4">新規投稿一覧</h2>

  <!-- 投稿一覧テーブル -->
  <table class="table table-bordered text-center">
    <thead class="thead-light">
      <tr>
        <th>店名</th>
        <th>イメージ</th>
        <th>投稿者</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td class="align-middle">
            <%= link_to post.shop_name, post_path(post.id), class: "text-dark font-weight-bold" %>
          </td>
          <td class="align-middle">
            <%= link_to post_path(post) do %>
              <%= image_tag(post.image1.attached? ? post.image1 : 'default-image.jpg', size: "80x80", class: "img-thumbnail") %>
            <% end %>
          </td>
          <td class="align-middle">
            <%= link_to post.user.name, user_path(post.user.id), class: "text-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!--ページネーションの記述-->
<div class="d-flex justify-content-center">
  <%= paginate @posts, class: "pagination" %>
</div>

<!--左右カラム
<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-9">

  </div>
</div>
-->

<!-- 横並びの一覧
<div class="row">
  <%# @posts.each do |post| %>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <%#= post.shop_nmme %>
        </div>
      </div>
    </div>
  <%# end %>
</div>
-->