<h1 class="text-center my-4">検索結果</h1>

<!-- 検索結果がない場合のメッセージ -->
<% if @posts.blank? && @users.blank? %>
  <div class="alert alert-warning text-center" role="alert">
    検索ワードに一致する投稿が見つかりませんでした。
  </div>

<!-- 投稿の検索結果がある場合 -->
<% elsif @posts.present? %>
  <h2 class="mb-4">投稿結果一覧</h2>
  <table class="table table-bordered text-center">
    <thead class="thead-light">
      <tr>
        <th>店名</th>
        <th>商品画像</th>
        <th>投稿者</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td class="align-middle">
            <%= link_to post.shop_name, post_path(post), class: "text-dark font-weight-bold" %>
          </td>
          <td class="align-middle">
            <%= link_to post_path(post) do %>
              <%= image_tag(post.image1.attached? ? post.image1 : 'default-image.jpg', size: "80x80", class: "img-thumbnail") %>
            <% end %>
          </td>
          <td class="align-middle">
            <%= link_to post.user.name, user_path(post.user.id), class: "text-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<!-- ユーザーの検索結果がある場合 -->
<% elsif @users.present? %>
  <h2 class="mb-4">ユーザー結果一覧</h2>
  <table class="table table-bordered text-center">
    <thead class="thead-light">
      <tr>
        <th>プロフィール画像</th>
        <th>ユーザー名</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="align-middle">
            <%= link_to user_path(user.id) do %>
              <%= image_tag user.get_profile_image, size: '100x100', class: "img-thumbnail" %>
            <% end %>
          </td>
          <td class="align-middle">
            <%= link_to user.name, user_path(user.id), class: "text-dark font-weight-bold" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

