<h1>Posts#show</h1>

<%= image_tag @post.user.get_profile_image, :size => '80x80' %>
<p><%= @post.user.name %></p>

<h3><%= @post.shop_name %></h3>

<p><%= @post.address %></p>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>メニュー</th>
      <th>値段</th>
      <th>特徴</th>
    </tr>
  </thead>
  <tbody>
    <% (1..3).each do |n| %>
      <tr>
        <td><%= image_tag(@post.send("image#{n}").attached? ? @post.send("image#{n}") : 'default-image.jpg', size: "100x100") %></td>
        <td><%= @post.send("menu#{n}_name") %></td>
        <td><%= @post.send("menu#{n}_price") %></td>
        <td><%= @post.send("menu#{n}_description") %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<!--いいね機能-->
<% if @post.favorited_by?(current_user) %>
  <p>
    <%= link_to post_favorite_path(@post.id), method: :delete do %>
      👍 <%= @post.favorites.count %>いいね
    <% end %>
  </p>

<% else %>
  <p>
    <%= link_to post_favorite_path(@post.id), method: :post do %>
      👍 <%= @post.favorites.count %>いいね
    <% end %>
  </p>
<% end %>

<!--コメント一覧-->
<div>
  <p>コメント件数：<%= @post.post_comments.count %></p>
  <% @post.post_comments.each do |post_comment| %>
    <p><%= image_tag post_comment.user.get_profile_image, :size => '80x80' %></p>
    <p><%= post_comment.user.name %><%= post_comment.created_at.strftime('%Y/%m/%d') %></p>
    <p>
      <%= post_comment.comment %>
      <% if post_comment.user == current_user %>
        <%= link_to '削除', post_post_comment_path(post_comment.post.id, post_comment.id), method: :delete %>
      <% end %>
    </p>
  <% end %>
</div>


<!--コメント投稿フォーム-->
<div>
  <%= form_with model: [@post, @comment] do |f| %>
    <%= f.text_area :comment, row: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>


<!--本人であれば投稿編集可能-->
<% if @post.user == current_user %>
  <%= link_to "投稿編集", edit_post_path(@post.id) %>
<% end %>


